@font-face {
  font-family: "Proxima";
  src: url("../assets/fonts/Proxima Nova Alt Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Proxima";
  src: url("../assets/fonts/ProximaNova-Regular.otf");
  font-weight: normal;
}
html {
  font-family: "Proxima", Roboto, Helvetica, sans-serif;
  color: white;
  background-color: #181A1B;
}

.footer {
  background-color: #0A1A2A;
  height: 200px;
  margin-top: 60px;
  padding-top: 40px;
  display: flex;
}
.footer p {
  margin: 0 auto;
}

button {
  font-family: "Proxima", Roboto, Helvetica, sans-serif;
  color: white;
  cursor: pointer;
  background-color: #AC1F04;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  outline: none;
  transition: background-color 200ms;
}

button:hover {
  background-color: #b82104;
}

button:active {
  background-color: #c52305;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.sized-box-30 {
  height: 30px;
}

.site-header {
  background-color: #0A1A2A;
}
.site-header .site-header-body {
  width: 50%;
  margin: auto;
}
@media screen and (max-width: 920px) {
  .site-header .site-header-body {
    width: 75%;
  }
}
@media screen and (max-width: 480px) {
  .site-header .site-header-body {
    width: 100%;
  }
}
.site-header .site-header-body h1 {
  margin: 0;
  padding-top: 20px;
  font-style: italic;
}
@media screen and (max-width: 480px) {
  .site-header .site-header-body h1 {
    padding-left: 10px;
  }
}
.site-header .site-header-body p {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 20px;
}
@media screen and (max-width: 480px) {
  .site-header .site-header-body p {
    padding-left: 10px;
  }
}
.site-header .site-header-body nav .nav-buttons {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 480px) {
  .site-header .site-header-body nav .nav-buttons {
    flex-direction: column;
    align-items: stretch;
  }
}
.site-header .site-header-body nav .nav-buttons li {
  list-style: none;
  margin-right: 5px;
}
@media screen and (max-width: 480px) {
  .site-header .site-header-body nav .nav-buttons li {
    margin-top: 5px;
    margin-right: 0px;
    padding: 0px 10px;
  }
}
.site-header .site-header-body nav .nav-buttons li .nav-selected {
  border: 1px solid #FA5D3E;
}
.site-header .site-header-body nav .nav-buttons li button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-sizing: border-box;
  height: 40px;
  text-transform: uppercase;
}
@media screen and (max-width: 480px) {
  .site-header .site-header-body nav .nav-buttons li button {
    width: 100%;
  }
}

.main-container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 920px) {
  .main-container {
    width: 75%;
  }
}
@media screen and (max-width: 480px) {
  .main-container {
    width: 100%;
  }
}

.workouts-tables {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.workouts-tables .workout-date {
  margin: 0 auto;
  padding-top: 20px;
  font-size: 24px;
  font-style: italic;
}
.workouts-tables .exercise {
  background-color: #0A1A2A;
  font-style: italic;
  font-weight: bold;
  border-radius: 5px 5px 0px 0px;
  margin-top: 20px;
}
.workouts-tables .exercise .exercise-name {
  padding: 15px 20px;
  margin: 0;
}
.workouts-tables .exercise table {
  font-style: normal;
  font-weight: normal;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.workouts-tables .exercise table th {
  text-align: left;
  background-color: #FA5D3E;
}
.workouts-tables .exercise table th,
.workouts-tables .exercise table td {
  border: 1px solid #303436;
  padding: 5px 10px;
  vertical-align: top;
}
.workouts-tables .exercise table tr:nth-child(even) {
  background-color: #242728;
}
.workouts-tables .exercise table tr:nth-child(odd) {
  background-color: #1F2223;
}

.load-more-btn {
  margin: 40px auto;
  text-transform: uppercase;
}

.disabled-btn {
  background-color: #303436;
  cursor: default;
}

.disabled-btn:hover {
  background-color: #303436;
}

.disabled-btn:active {
  background-color: #303436;
}

.workouts-calendar {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.workouts-calendar .month {
  background-color: #0A1A2A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 10px 10px 0 0;
  font-weight: bold;
  z-index: 15;
}
.workouts-calendar .month a {
  font-size: 24px;
  margin: 0 20px;
  cursor: pointer;
  color: #AC1F04;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.workouts-calendar .month .disabled {
  color: grey;
}
.workouts-calendar .month p {
  text-align: center;
  text-transform: uppercase;
}
.workouts-calendar .month p strong {
  font-size: 28px;
  font-style: italic;
}
.workouts-calendar .weekdays {
  display: flex;
  justify-content: space-around;
  height: 58px;
  background-color: #1F2223;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  z-index: 1;
  font-weight: bold;
}
.workouts-calendar .weekdays p {
  margin: auto 0;
}
.workouts-calendar .days {
  background-color: #1F2223;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  transform: translate(0, -2px);
}
.workouts-calendar .days .day-box, .workouts-calendar .days .empty-box {
  width: 14.2857142857%;
  text-align: center;
  height: 80px;
  margin: 0;
  border: 1px solid #303436;
  box-sizing: border-box;
  display: flex;
  border-radius: 6px;
}
.workouts-calendar .days .day-box p, .workouts-calendar .days .empty-box p {
  margin: auto;
}
.workouts-calendar .days .trained {
  border: 1px solid #FA5D3E;
  background-color: #0A1A2A;
  z-index: 9;
}
.workouts-calendar .days .today {
  font-weight: bold;
  color: #FA5D3E;
}

.chartjs-render-monitor {
  margin-bottom: 50px;
}

.loading {
  margin: auto;
  padding-top: 50px;
}

.error {
  margin: auto;
  padding-top: 50px;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
