html {
  font-family: Roboto, Helvetica, sans-serif;
  color: white;
}

button {
  font-family: Roboto, Helvetica, sans-serif;
  color: white;
  cursor: pointer;
  background-color: #5f405e;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  outline: none;
  transition: background-color 100ms;
}

button:hover {
  background-color: #7d557c;
}

button:active {
  background-color: #9b6a99;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #212121;
  padding: 0;
  margin: 0;
}

.site-header {
  background-color: #303030;
}
.site-header .site-header-body {
  width: 50%;
  margin: auto;
}
@media screen and (max-width: 920px) {
  .site-header .site-header-body {
    width: 75%;
  }
}
@media screen and (max-width: 480px) {
  .site-header .site-header-body {
    width: 100%;
  }
}
.site-header .site-header-body h1 {
  margin: 0;
  padding-top: 20px;
}
@media screen and (max-width: 480px) {
  .site-header .site-header-body h1 {
    padding-left: 10px;
  }
}
.site-header .site-header-body p {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 20px;
}
@media screen and (max-width: 480px) {
  .site-header .site-header-body p {
    padding-left: 10px;
  }
}
.site-header .site-header-body nav .nav-buttons {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: flex-end;
}
@media screen and (max-width: 480px) {
  .site-header .site-header-body nav .nav-buttons {
    flex-direction: column;
    align-items: stretch;
  }
}
.site-header .site-header-body nav .nav-buttons li {
  list-style: none;
  margin-right: 5px;
}
@media screen and (max-width: 480px) {
  .site-header .site-header-body nav .nav-buttons li {
    margin-top: 5px;
    margin-right: 0px;
    padding: 0px 10px;
  }
}
.site-header .site-header-body nav .nav-buttons li .nav-selected {
  border: 2px solid #9b6a99;
}
.site-header .site-header-body nav .nav-buttons li button {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-sizing: border-box;
  height: 40px;
}
@media screen and (max-width: 480px) {
  .site-header .site-header-body nav .nav-buttons li button {
    width: 100%;
  }
}

.main-container {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 920px) {
  .main-container {
    width: 75%;
  }
}
@media screen and (max-width: 480px) {
  .main-container {
    width: 100%;
  }
}

.workouts-tables {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.workouts-tables .workout-date {
  margin: 0 auto;
  padding-top: 20px;
}
.workouts-tables .exercise {
  background-color: #303030;
  border-radius: 5px 5px 0px 0px;
  margin-top: 20px;
}
.workouts-tables .exercise .exercise-name {
  padding: 15px 20px;
  margin: 0;
}
.workouts-tables .exercise table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}
.workouts-tables .exercise table th {
  text-align: left;
  background-color: #5f405e;
}
.workouts-tables .exercise table th,
.workouts-tables .exercise table td {
  border: 1px solid #424242;
  padding: 5px 10px;
  vertical-align: top;
}
.workouts-tables .exercise table tr:nth-child(even) {
  background-color: #353535;
}

.load-more-btn {
  margin: 40px auto;
  text-transform: uppercase;
}

.disabled-btn {
  background-color: grey;
  cursor: default;
}

.disabled-btn:hover {
  background-color: grey;
}

.disabled-btn:active {
  background-color: grey;
}

.workouts-calendar {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.workouts-calendar .month {
  background-color: #303030;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.workouts-calendar .month a {
  font-size: 24px;
  margin: 0 20px;
  cursor: pointer;
}
.workouts-calendar .month p {
  text-align: center;
  text-transform: uppercase;
}
.workouts-calendar .month p strong {
  font-weight: normal;
  font-size: 28px;
}
.workouts-calendar .weekdays {
  display: flex;
  justify-content: space-around;
  height: 58px;
  background-color: #5f405e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  z-index: 1;
  font-weight: bold;
}
.workouts-calendar .weekdays p {
  margin: auto 0;
}
.workouts-calendar .days {
  background-color: #303030;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  transform: translate(0, -2px);
}
.workouts-calendar .days .day-box, .workouts-calendar .days .empty-box {
  width: 14.2857142857%;
  text-align: center;
  height: 80px;
  margin: 0;
  border: 1px solid #424242;
  box-sizing: border-box;
  display: flex;
  border-radius: 6px;
}
.workouts-calendar .days .day-box p, .workouts-calendar .days .empty-box p {
  margin: auto;
}
.workouts-calendar .days .trained {
  border: 1px solid #ad6dab;
  background-color: #3d373d;
}
.workouts-calendar .days .today {
  font-weight: bold;
  color: #ffd1fd;
  border: 2px solid #84a4ce;
  z-index: 10;
}

.loading {
  margin: auto;
  padding-top: 50px;
}

.error {
  margin: auto;
  padding-top: 50px;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
