@import "mixins";

$darkGrey: #212121;
$grey: #303030;
$lightGrey: #424242;
$primaryColor: #5f405e;

html {
  font-family: Roboto, Helvetica, sans-serif;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $darkGrey;
  padding: 0;
  margin: 0;
}

.site-header {
  background-color: $grey;
  .site-header-body {
    width: 50%;
    margin: auto;
    @include when-kinda-small {
      width: 75%;
    }
    @include when-small {
      width: 100%;
    }
    h1 {
      margin: 0;
      padding-top: 20px;
      @include when-small {
        padding-left: 10px;
      }
    }
    p {
      margin: 0;
      padding-top: 5px;
      padding-bottom: 20px;
      @include when-small {
        padding-left: 10px;
      }
    }
    nav {
      .nav-buttons {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: flex-end;
        @include when-small {
          flex-direction: column;
          align-items: stretch;
        }
        li {
          list-style: none;
          margin-right: 5px;
          @include when-small {
            margin-top: 5px;
            margin-right: 0px;
            padding: 0px 10px;
          }
          .nav-selected {
            border: 2px solid lighten($primaryColor, 20%);
          }
          button {
            background-color: $primaryColor;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
            outline: none;
            box-sizing: border-box;
            height: 40px;
            transition: background-color 100ms;
            @include when-small {
              width: 100%;
            }
          }
          button:hover {
            background-color: lighten($primaryColor, 10%);
          }
          button:active {
            background-color: lighten($primaryColor, 20%);
          }
        }
      }
    }
  }
}

.main-container {
  width: 50%;
  margin: auto;
  @include when-kinda-small {
    width: 75%;
  }
  @include when-small {
    width: 100%;
  }
}

.workouts-tables {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  .workout-date {
    margin: 0 auto;
    padding-top: 20px;
  }
  .exercise {
    background-color: $grey;
    border-radius: 5px 5px 0px 0px;
    margin-top: 20px;
    .exercise-name {
      padding: 15px 20px;
      margin: 0;
    }
    table {
      border-spacing: 0;
      border-collapse: collapse;
      width: 100%;
      th {
        text-align: left;
        background-color: $primaryColor;
      }
      th,
      td {
        border: 1px solid $lightGrey;
        padding: 5px 10px;
        vertical-align: top;
      }
      tr:nth-child(even) {
        background-color: lighten($grey, 2%);
      }
    }
  }
}

.loading {
  margin: auto;
  padding-top: 50px;
}

.error {
  margin: auto;
  padding-top: 50px;
  text-align: center;
}
